@charset "utf-8";
.am-zd {
	width:80px;
	padding-left:30px;
	border-left:1px solid #ddd;
	border-right:1px solid #ddd;
}
.am-folt{
	float:left;
}
.am-topbar-inverse .am-topbar-nav>li>a{
	color:#999;
}
.am-log{
	width:235px;
}
.am-text a{
	font-size:18px;
	color:#FFF;
	line-height:50px;
}
.am-text-1{
	font-size:14px;
}
.am-u{
	padding-left:0rem;
}
.am-u-1{
	padding-right:1rem;
}
.am-u-2{
	padding-right:0rem;
}
[class*=am-u-]+[class*=am-u-]:last-child {
    float: left;
}
.det-ico{
	float:left;
	margin:20px;
}
.det-ico-1{
	text-align:right;
	margin-top:30px;
	margin-bottom:10px;
	color:#999;
	margin-right:10px;
}
.det-ico-2{
	text-align:center;
	color:#999;
	margin-top:10px;
}
.number{
	font-size:20px;
}
.number span{
	font-size:12px;
}
.number-0{
	color:#2095f2;
}
.number-1{
	color:#f8a20f;
}
.number-2{
	color:#5bb55e;
}
.number-3{
	color:#9c85d3;
}
.desc{
	font-size:12px;
}
.font-s{
	font-size:30px;
}
.am-blue{
	color:#2095f2;
}
.am-orange{
	color:#52dfd0;
}
.am-Green{
	color:#ff9486;
}
.am-purple{
	color:#fee262;
}
.tpl-left{
	position:absolute;
	top:49px;
}
.am-tab>li>a{
	padding:10px 15px;
}
.am-text-w{
	color:#FFF;
	background-color:#f37b32;
	font-size:12px;
	text-align:center;
}
.am-text-w-g{
	background-color:#5bd862;
}
.font-bule{
	color:#2095f2;
}
.am-nav-tabs>li.am-active>a, .am-nav-tabs>li.am-active>a:focus, .am-nav-tabs>li.am-active>a:hover{
	background-color:#2095f2;
	color:#FFF;
}